{% extends 'base.html' %}

{% block title %}

    {{ title }}

{% endblock %}

{% block content_title %}
    <main class="container mt-3">
{% endblock %}

{% block content %}
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tour }}&nbsp;&nbsp;&nbsp;{{ star }} <i class="fa fa-star gold" aria-hidden="true"></i></h1>
        <!-- HERO -->
        <p class="lead">{{ country }}: из {{ dep }} {{ nights }} ночей</p>
        <img src="{{ pic }}"
             class="w-75" alt="">
        <p class="my-4 w-75">{{ desc }}</p>
        <a href="https://coub.com/view/2osjv7" class="btn btn-success btn-lg">Купить тур за {{ price }}</a>
    </section>
    </main>
{% endblock %}
